@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.color{
    background-color: brown;
}

header{
    height: 400px;
    margin: 20px 20px;
    background-image: url(../images/Background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px inset rgba(46, 46, 238, 0.789);
    display: flex;
    justify-content: left;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-family: "Platypi", serif;
}

.header-box a{
    color: white;
    text-decoration: none;
}

nav{
    height: 100px;
    margin: 20px 20px;
    padding-left: 30px;
    background-color: rgba(46, 46, 238, 0.789);
    display: flex;
    justify-content: left;
}

main{
    margin: 20px 20px;
    padding: 20px 20px;
    height: 600px;
    text-align: center;
}

.main-h3{
    color: black;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
}

.main-parrafo{
    font-size: 20px;
    padding-top: 20px;
}


footer{
    height: 80px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(46, 46, 238, 0.789);
}

footer h4{
    color: white;
    padding: 20px;
    font-size: 25px;
}

.main-galeria{
    height: 800px;
    margin: 20px 20px;
}

.main-acerca{
    display: flex;
    height: 600px;
    margin: 20px 20px;
    flex-direction: column;
    text-align: center;
}

.div-acerca p{
    margin: 20px 20px;
    padding-top: 20px;
    font-size: 25px;
}

.imagen{
    width: 600px;
}

.barra ul li{
    list-style: none;
    display: inline-block;
    font-size: 30px;
    font-family: "Platypi", serif;
    padding: 25px;
}

.barra a{
    text-decoration: none;
    color: white;
}

.barra a:hover{
    color: orange;
}

.redes a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
}

.redes a:hover{
    color: orange;
}

.galeria{
    display: grid; 
    padding: 20px 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 240px);
    grid-template-areas: 
    "img1 img2 img3 img3"
    "img1 img4 img5 img6"
    "img7 img4 img8 img8";
    gap: 10px 15px;
}

.caja{
    border: 5px solid rgba(46, 46, 238, 0.789);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.caja1{
    grid-area: img1;
    background-image: url(../images/1.jpg);
}

.caja2{
    grid-area: img2;
    background-image: url(../images/2.jpg);
}

.caja3{
    grid-area: img3;
    background-image: url(../images/3.jpg);
}

.caja4{
    grid-area: img4;
    background-image: url(../images/4.jpg);
}

.caja5{
    grid-area: img5;
    background-image: url(../images/5.jpg);
}

.caja6{
    grid-area: img6;
    background-image: url(../images/6.jpg);
}

.caja7{
    grid-area: img7;
    background-image: url(../images/7.jpg);
}

.caja8{
    grid-area: img8;
    background-image: url(../images/8.jpg);
}

@media (max-width:480px){
    .color{
        background-color: green;
    }
}

